<style>
.select-calendar span {
	display: inline-block;
	width: 200px;
}

.results {
	margin: 10px 0px;
}

.balance-entry {
	background-color: #eee;
	padding: 1px 1px 1px 5px;
	margin: 1px;
}

.balance-warning {
	color:red;
}

.balance-credit {
	color:green;
}

.balance-amount {
	font-weight: 900;
	font-family: Consolas,monospace;
}

.balance-summary {
	font-size:.9em;
	font-family: Consolas,monospace;
	left:100px;
	position:absolute;
}

.balance-date {
	font-family: Consolas,monospace;
	left:300px;
	position:absolute;
}

.select-calendar > img {
	height: 10px;
}
.fincal-controls {
	padding-bottom: 8px;
	max-width: 600px;
	width: 100%
}
.fincal-controls > div,
.fincal-controls > div > mat-form-field
.fincal-controls > div > mat-expansion-panel
.fincal-controls > div > mat-expansion-panel > div
.fincal-controls > div > mat-expansion-panel > div > mat-form-field { 
	max-width:600px;
	width:100%;
}
.fincal-controls > div > mat-toolbar {
	margin-bottom:8px;
}
.mat-column-Balance{
	max-width:15%;
}
.mat-column-Summary {
	overflow:hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
}
.mat-column-When {
	max-width:22%;
}
.mat-header-row,
.mat-row {
	padding:0;
}
</style>
<div style="text-align:center">
	<h2>
		{{title}} {{version}}!
	</h2>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch">
	<div fxLayout="column"fxLayoutAlign="start center">
		<div class="fincal-controls">
			<div fxLayout="row" fxLayoutAlign="start end">
				<mat-toolbar>
						<button *ngIf="!accessAuthorized" mat-raised-button (click)="handleAuthClick()">AUTHORIZE</button>
						<ng-container *ngIf="accessAuthorized">
							<button mat-raised-button (click)="signOut()">SIGN OUT</button>
							<button mat-raised-button color="primary" id="update-results" (click)="updateResults()">FORECAST</button>
						</ng-container>
				</mat-toolbar>
			</div>
			<div>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Settings
						</mat-panel-title>
						<mat-panel-description>
							<span>{{calCredit?.summary}} - {{calDebit?.summary}}</span>
							<span fxFlex></span>
							<mat-icon>settings</mat-icon>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div>
							<mat-form-field>
								<mat-select placeholder="Credit calender (income)" [(value)]="calCredit">
									<mat-option>-- Select a credit calendar --</mat-option>
									<mat-option *ngFor="let calendar of calendars" [value]="calendar">
										{{calendar.summary}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<mat-select placeholder="Debit calendar (bills)" [(value)]="calDebit">
									<mat-option>-- Select a debit calendar --</mat-option>
									<mat-option *ngFor="let calendar of calendars" [value]="calendar">
										{{calendar.summary}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
				</mat-expansion-panel>
			</div>			
			<div>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Forecast
						</mat-panel-title>
						<mat-panel-description>
							{{curBalance}} - {{tarDate | date: 'MM/dd/yyyy'}}
							<span fxFlex></span>
							<mat-icon>date_range</mat-icon>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div>
						<mat-form-field>
							<input matInput type="number" placeholder="Current balance" [(ngModel)]="curBalance">
						</mat-form-field>
					</div>
					<div>
						<mat-form-field>
							<input matInput type="date" placeholder="Forecast end date" [ngModel]="tarDate | date:'yyyy-MM-dd'" (ngModelChange)="tarDate = $event">
						</mat-form-field>
					</div>
				</mat-expansion-panel>
			</div>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Filters
					</mat-panel-title>
					<mat-panel-description>
						<span class="fincal-controls-filters-description">
							{{filterConfig.NegativeBalance ? 'Negative Balance' : 'N/A'}}
						</span>
						<span fxFlex></span>
						<mat-icon>filter_list</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div class="fincal-controls-filters">
					<mat-slide-toggle [(ngModel)]="filterConfig.NegativeBalance" (change)="filterChanged($event)">Negative Balance</mat-slide-toggle>
				</div>
			</mat-expansion-panel>
		</div>
	</div>
	<div id="results" fxFlex>
		<mat-table #table [dataSource]="results">
				<ng-container matColumnDef="Balance">
					<mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
					<mat-cell *matCellDef="let row" [style.color]="row.Balance <= 0 ? 'red' : ''">{{row.Balance}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Summary">
					<mat-header-cell *matHeaderCellDef>Summary</mat-header-cell>
					<mat-cell *matCellDef="let row" [style.color]="row.Type == 0 ? 'green' : ''">{{row.Summary}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="When">
					<mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.When | date:'MM-dd-yy'}}</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="['Balance','Summary','When']"></mat-header-row>
				<mat-row *matRowDef="let row; columns: ['Balance','Summary','When']"></mat-row>
		</mat-table>
	</div>
</div>